<style>
  @import url("/src/styles/global.css");

  .content {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #lightbox {
    max-height: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    text-align: center;
  }

  #lightbox::backdrop {
    background-color: #02052baf;
    backdrop-filter: blur(1rem);
  }

  #lightbox:focus, #lightbox *:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
</style>

<script></script>

<div class="content">
  <dialog id="lightbox" closedby="any" onclose="window.lightboxService.closeLightbox()">
    <button id="previous">Previous</button>
    <button id="next">Next</button>
  </dialog>
</div>
<output></output>
